.head__text {
  margin: 0;
  margin-top: 117px;
  font-family: 'inter', sans-serif;
  color: #E6E6E6;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
}

.head__text::after {
  content: url('../../../images/Color\ BG.png');
  text-align: center;
  padding-left: 30px;
  position: absolute;
  bottom: 4px;
}

@media screen and (max-width: 784px) {
  .head__text {
    margin-top: 53px;
  }
}

@media screen and (max-width: 630px) {
  .head__text {
    display: none;
  }
}

