.head__bike-fix {
  width: 340px;
  height: 260px;
  position: sticky;
  top: 347px;
  margin-bottom: 79px;
  border: solid #F4F4F4;
  border-width: 20px 50px;
  border-radius: 20px;
  background-color: #F4F4F4;
}

@media screen and (max-width: 1340px) {
  .head__bike-fix {
    width: 255px;
    height: 205px;

  }
}

@media screen and (max-width: 784px) {
  .head__bike-fix {
    width: 120px;
    height: 96px;
    top: 200px;
  }
}
