.bikes__places {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 380px);
  max-width: 1200px;
  gap: 30px;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1250px) {
  .bikes__places {
    grid-template-columns: repeat(2, 380px);
  }
}
