.quite-merks {
  margin: 120px 120px 0 0;
  padding-bottom: 60px;
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 784px) {
  .quite-merks {
    margin: 60px auto 0;
    gap: 20px;
  }
}
@media screen and (max-width: 630px) {
  .quite-merks {
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
  }
}

