.head__link {
  grid-area: link;
  margin-left: 120px;
  margin-top: 167px;
  font-family: 'inter', sans-serif;
  color: #E6E6E6;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

.head__link::after {
  content: url("../../../images/Color\ BG.svg");
  padding-left: 30px;
}

.head__link:hover {
  opacity: .8;
}
