.page {
    max-width: 100vw;
    margin: 0 auto;
    padding-left: 120px;
    background-color: #333;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;

}
@media screen and (max-width: 1240px) {
  .page {
    padding-left: 60px;

  }
}

@media screen and (max-width: 1024px) {
  .page {
    padding-left: 30px;

  }
}

@media screen and (max-width: 784px) {
  .page {
    padding-left: 20px;

  }
}

@media screen and (max-width: 630px) {
  .page {
    padding-left: 18px;
    padding-right: 18px;

  }
}
