.bikes__place {
  /* width: 380px;
  background-image: url('../../../images/Placeholder\ fon.svg');
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
  height: auto;
  display: block;*/
  text-decoration: none;

}

.bikes__place:hover {
  opacity: .8;
}
