.bikes__image-background {
  width: 380px;
  height: 380px;
  background-color: #F4F4F4;
  background-image: url('../../../images/bike-one.png');
}

@media screen and (max-width: 1024px) {
  .bikes__image-background {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 630px) {
  .bikes__image-background {
    display: none;
  }
}
