.header__nav {
  display: none;
}

@media screen and (max-width: 630px) {
  .header__nav {
    display: block;
    background-image: url('../../../images/icon.png');
    padding: 0;
    cursor: pointer;
    border: none;

 }
}
