.quite-merks__image {
  background-image: url('../../../images/Placeholder2.png');
  width: 650px;
  height: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1240px) {
  .quite-merks__image {
    width: 325px;
    height: 230px;

  }
}
