.quite-merks__image {
  margin: 0 0 60px 120px;
  background-image: url('../../../images/Placeholder2.png');
  width: 650px;
  height: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
