.highway__images {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: hidden;
  grid-area: images;
}

@media screen and (max-width: 784px) {
  .highway__images {
    margin-top: 40px;
  }
}

@media screen and (max-width: 630px) {
  .highway__images {
    flex-direction: column;
    margin-top: 40px;
  }
}
