.footer__copyright {
  margin-top: 100px;
  margin-left: 120px;
  font-family: 'inter', sans-serif;
  color: #565656;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 600;
  font-style: normal;
}
