.training {
  margin: 76px 120px 0;
  padding-bottom: 120px;
  padding-top: 74px;
  height: 100%;
  display: grid;
  grid-template-areas: "title image"
    "training__subtitle image"
    "links image";
grid-template-columns: 1fr 580px;
}
