.head__image {
  position: relative;
  align-self: flex-end;
  min-width: 610px;
  min-height: 836px;
  background-image: url("../../../images/Placeholder.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 784px) {
  .head__image {
    min-width: 305px;
    min-height: 418px;
  }
}

@media screen and (max-width: 630px) {
  .head__image {
    width: 254зч;
    min-width: 320px;
    margin: 40px 18px 0 0;
    min-width: 254px;
    min-height: 348px;
  }
}
